

<div class="container pt-3">

  <div class="jumbotron p-3">
    <div class="card p-4 shadow">
      <h5 class="text-center">TO-DO APP</h5>
       <h6>ADD NEW ITEM </h6>
       <div class="row justify-content-center p-2"> 
              <div class="col-md-10 col-8">
                   <input type="text" name="" class="form-control " #addItem>
               </div>
             
              <div class="col-md-2 col-4">
                  <button class="btn btn-info" (click)="add(addItem.value)">ADD</button>
               </div>
              
        </div>
        
        <div class="mt-4" *ngIf="toDoList.length>0">
            <h6> TO-DO LIST <span style="font-weight: normal;">( {{toDoList.length}} )</span></h6>
                <div class="" > 
                  <ul class="list-group d-flex justify-content-center"> 
                      <app-to-do-list *ngFor="let list of toDoList" [item]="list" (delItem)="del($event)" (doneItem)="done($event)"> </app-to-do-list>
                  </ul>
               </div>
         </div>

          <div class="mt-4" *ngIf="doneItem.length>0">
              <h6>COMPLETED TASK  </h6>
              <ul class="list-group">  
                <app-done-item  *ngFor="let dnItem of doneItem" [name]="dnItem.name"></app-done-item>
              </ul>
           </div>


    </div>
  </div>

</div>

